.load-screen {
  width: 100%;
  height: 100%;
  background: url(../images/loading.gif) no-repeat center center $black-01;
  background-size: 100px auto;
  position: fixed;
  opacity: 0.8;
  z-index: 2000;
  text-align: center;
}

.homeBanner {
  height: 17.5rem;
  width: 100%;
  position: relative;

  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    position: relative;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;

    a {
      display: inline-block;
      height: 100%;
      width: 100%;
      cursor: pointer;
      @include flex(column, center, center, center);

      &:hover {
        text-decoration: none;
      }
    }

    img {
      @include absolute(0, 0, auto, auto);
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: left;
      z-index: -1;
    }

    .slide-content {
      width: 65%;
      @include flex(row, flex-start, center, center);
      color: $white-01;

      li {
        margin: 0 1.5rem;
      }

      &__name {
        width: 60%;
        @include font(2.5rem, 900, 1.3em);
        text-transform: uppercase;
        text-align: left;

        @include sm {
          font-size: 2.2rem;
        }
      }

      &__logo {
        width: auto;

        img {
          width: 8rem;
          height: auto;
          position: relative;
        }
      }
    }

    &:before {
      content: '';
      width: 100%;
      height: 100%;
      background-color: $black-01;
      opacity: .6;
      @include absolute(0, auto, auto, 0);
      transition: all .3s ease-in;
    }
  }

  .swiper-slide-active {
    &:before {
      display: none;
      opacity: 0;
      transition: all .3s ease-out;
    }
  }

  .swiper-pagination-bullet {
    background: $white-01;
    opacity: .5;
  }

  .swiper-pagination-bullet-active {
    background-color: $white-01;
    opacity: 1;
  }

  .swiper-button-prev,
  .swiper-button-next {
    &:after {
      font-size: 3rem;
      color: $white-01;
    }
  }
}

.hero {
  width: 100%;
  height: 35rem;
  padding: 3rem 0;
  position: relative;
  overflow-x: hidden;

  &-background {
    width: 100%;
    height: 100%;
    @include absolute(0, auto, auto, 0);
    object-fit: cover;
    object-position: center;
    z-index: 0;
  }

  &-logo {
    z-index: 1;
    height: 8rem;

    a {
      display: inline-block;
      height: 100%;
    }

    img {
      height: 100%;
    }
  }

  &-text {
    @include flex(row, center, center, center);
    @include absolute(auto, auto, 0, auto);

    h1 {
      width: 100%;
      @include font(3.5rem, 700, 1.4em);
      color: $white-01;
      text-align: center;
      border-bottom: none;
    }

    .markdown {
      &-white {
        padding: 0 .75rem;
        background: $white-01;
        color: $black-01;
      }

      &-black {
        padding: 0 .75rem;
        background: $black-01;
      }
    }
  }
}

.section-login {
  width: 100%;
  height: auto;
  position: relative;
  padding: 3rem 0;

  .container-login {
    width: 100%;
    margin: 0 auto;
  }

  .nav-tabs {
    width: 100%;
    border: none;
    @include flex(row, center, center, center);
    @include font(1.4rem, 900, 1.4em);
    text-transform: uppercase;

    .nav-link {
      color: $gray-02;
      border-radius: .25rem;

      &:hover {
        color: $primary-01;
        border-color: #eceeef;
        transition: all .2s linear;
      }
    }

    .nav-link.active {
      background: $secondary-01;
      color: $primary-02;
      border: none;
    }
  }

  .tab-content {
    width: 100%;
    position: relative;

    .active {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
    }

    .tab-pane-registo {
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      align-content: flex-start;
      flex-wrap: wrap;
      padding-top: 3rem;
    }
  }

  .registo-member,
  .registo-noMember {
    form {
      margin: 1.5rem auto;
    }

    p {
      width: 100%;
      @include font(1.4rem, 300, 1.4em);
      text-align: center;
    }
  }

  .registo-member {
    position: relative;

    &:before {
      content: '';
      width: 1px;
      height: 80%;
      background-color: $gray-01;
      opacity: .8;
      @include absolute(0, 0, auto, auto);
    }

    @include sm {
      &:before {
        display: none;
      }
    }
  }

  form {
    .container-input {
      justify-content: space-between;
    }

    .show-password {
      display: inline-block;
      @include absolute (50%, 1rem, auto, auto);
      transform: translateY(-30%);
    }
  }

  .aviso-noMember {
    @include font(1.4rem, 300, 1.4em);
    margin-bottom: 1.4rem;

    .link-registo {
      padding: 0;

      &:after {
        display: none;
      }
    }
  }
}