.pagamento_sucesso {
  @include flex(column, center, center, center);
  margin: 1.5rem 0;
  i {
    margin-bottom: 1.5rem;
  }
  img {
    width: 5rem;
  }
  .container-btn {
    margin-top: 1.5rem;
    @include flex(row, center, flex-end, flex-end);
    a {
      margin: 0 1rem;
    }
  }
}

.payreturn__multibanco {
  border: 2px solid $secondary-02;
  border-radius: .5rem;
  text-align: center;
  padding: 1.5rem 0 0;
  margin: 1.5rem 0;
  img {
    height: 4rem;
    width: auto;
  }
  table {
    margin-bottom: 0;
    tr{
      @include flex(row, space-between, center, center);
      border-radius: 0;
      margin-bottom: 0;
      &:last-child{
        border-bottom:none;
      }
      td{
        &:first-child{
          text-align: left;
        }
      }
    }
  }
}

.payreturn__mbway {
  border: 2px solid $secondary-02;
  border-radius: .5rem;
  @include font(1.6rem, 700, 1.4em);
  text-align: center;
  padding: 0 1.5rem 1.5rem;
  margin-bottom: 3rem;
  img {
    height: 10rem;
    width: auto;
  }
}

.container-detalhes{
  width:50%;
  margin-bottom: 3rem;
  @include sm{
    width:100%;
  }
}

// .accordion-detalhes {
//   @include flex(row, center, center, center);
//   flex-wrap: wrap;
//   margin-bottom: 1.5rem;
//   label {
//     order: 1; // Put the labels first
//     @include flex(row, center, center, center);
//     padding: .8rem 1.2rem .6rem;
//     margin-right: 0.2rem;
//     margin-bottom: 0;
//     cursor: pointer;
//     border: 2px solid $primary-01;
//     border-radius: .5rem;
//     transition: all ease 0.2s;
//     color: $primary-01;
//     @include font(1.6rem, 900, 1em);
//     text-transform: uppercase;
//     transition: all .3s ease-in;
//     img {
//       height: 3rem;
//       margin-right: 1.5rem;
//     }
//     span {
//       text-transform: uppercase;
//       @include font(1.6rem, 900, 1em);
//       transition: all .3s ease-in;
//     }
//     &:hover {
//       background-color: $primary-01;
//       transition: all .3s ease-in;
//       span {
//         color: $white-01;
//         transition: all .3s ease-in;
//       }
//     }
//   }
//   .tab {
//     order: 99; // Put the tabs last
//     flex-grow: 1;
//     width: 100%;
//     display: none;
//     margin-top: .5rem;
//     padding: 1rem 3rem;
//     background: #fff;
//     color: $gray-01;
//   }
//   input[type="radio"] {
//     display: none;
//   }
//   input[type="radio"]:checked+label {
//     background: $primary-01;
//     color: $white-01;
//   }
//   input[type="radio"]:checked+label+.tab {
//     @include flex(column, flex-start, center, center);
//     border-top: 2px solid $primary-01;
//   }
// }

.clube-detalhes {
  text-align: center;
  img {
    width: auto;
    height: 7rem;
    margin: 1.5rem 0;
  }
  p {
    color: $black-01;
    @include font(1.4rem, 900, 1.2em);
    text-transform: uppercase;
  }
}