.modal-login-container {
  width: 100%;
  height: 100%;
  display: none;
  padding-top: 7rem;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 999;
  position: fixed;
  overflow-y: auto;
  text-align: center;
}

.modal-content {
  width: 45%;
  background-color: #FFFFFF;
  position: relative;

  @include md {
    width: 70%;
  }

  @include sm {
    width: 95%;
  }
}

.modal-login-container.mostrar {
  @include flex(column, flex-start, center, center);
}

.mostrar {
  .modal-content {
    animation: modal .6s;
  }
}

.nav-tabs {
  width: 100%;
  height: auto;
  position: relative;

  @include flex(row, center, center, center);
  border-bottom: 2px solid #FFFFFF;

  li {
    width: 50%;
    @include flex(row, center, center, center);
    @include font(1.8rem, 700, 1em);
  }


  .tab_label {
    width: 100%;
    padding: 2rem;
    display: block;
    cursor: pointer;
    text-align: center;
    border-bottom: 2px solid $gray-02;
    background-color: #ececec;
    color: $gray-02;
    margin: 0;
    transition: all .3s ease-out;
  }

  .tab-content>.active {
    @include flex(column, flex-start, center, center);
  }
}

.closeModal {
  background-color: $primary-01;
  border: 2px solid $secondary-02;
  padding: .5rem;
  border-radius: 50%;
  @include absolute(0, 0, auto, auto);
  z-index: 11;
  transform: translateX(130%);

  img {
    width: 10px;
    height: 10px;
  }

  &:focus {
    outline: none;
  }
}

.tab-content {
  width: 100%;
}

.tab-pane {
  height: auto;
  width: 100%;
  background-color: #fff;
  padding: 1.5rem 3rem;
  margin-bottom: 3rem;
  text-align: center;

  @include sm {
    padding: 1.5rem;
  }

  .logo-clube {
    height: 8rem;
  }

  h2 {
    width: 100%;
    margin: 1rem 0 2rem;
  }

  h3 {
    width: 80%;
  }

  form {
    width: 75%;
    margin: 0 auto;

    @include md {
      width: 100%;
    }
  }
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:focus,
.nav-tabs .nav-link.active:hover,
.nav-tabs .nav-item.open .nav-link,
.nav-tabs .nav-item.open .nav-link:focus,
.nav-tabs .nav-item.open .nav-link:hover {
  color: $primary-01;
  border: none;
  border-bottom: 2px solid $secondary-02;
  transition: all .3s ease-out;
}


// ESTILO DO MODAL EXTERNALOPS
.modal-msg {
  padding: 3rem;

  i {
    display: inline-block;
    height: 4.5rem;
    margin-bottom: 1.5rem;

    img {
      height: 100%;
    }
  }
}

.txt_small {
  @include font(1.2rem, 300, 1.2em);
  margin-top: .5rem;
}

.esqueci-senha {
  @include font(1.4rem, 700, 1.2em);
  color: $primary-01;
  text-align: left;
  margin-bottom: 2rem;
  position: relative;

  &:before {
    content: '';
    width: 100%;
    height: 2px;
    background-color: $primary-01;
    @include absolute(auto, auto, -2px, 0);
    transform: scale(0, 1);
    transform-origin: 0 0;
    transition: all .3s ease-in;
  }

  &:hover,
  &:focus {
    color: $primary-01;
    text-decoration: none;

    &:before {
      transform: scale(1, 1);
      transition: all .3s ease-in;
    }
  }
}

.link-registo {
  margin-top: 2rem;
  padding-top: 2rem;
  position: relative;

  &:after {
    content: '';
    width: 50%;
    height: 2px;
    background-color: rgba(21, 21, 21, .2);
    // opacity: .1;
    @include absolute(0, 25%, auto, auto);
    box-shadow: 2px 2px 26px -6px rgba(0, 0, 0, 0.75);
  }
}

.registo_captcha {
  margin-bottom: 1.5rem;
}

.userfrommember {
  width: 100%;
  @include flex(column, flex-start, center, flex-start);
}

.registo-finalizado {
  padding: 3rem 1.5rem;
  @include flex(column, flex-start, center, center);

  form {
    width: 70%;
  }

  i {
    width: 5rem;
    display: inline-block;
    margin-bottom: 1.5rem;
    ;

    img {
      width: 100%;
    }
  }

  h2 {
    margin-bottom: 1.5rem;
  }
}

.recuperar-senha {
  padding: 1.5rem 3rem;
  @include flex(column, flex-start, center, center);

  form {
    width: 70%;
  }

  h2 {
    margin-bottom: 3rem;
  }

  button,
  a {
    margin: 1.5rem;
  }
}

.noScroll {
  overflow: hidden;
  position: fixed;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes opacityAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}

@keyframes rotateImg {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(180deg);
  }
}

@keyframes nameTeam {
  0% {
    opacity: 0;
    transform: translate3d(0, -5px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}